<html>

<head>

<title>Social Network</title>



<link rel="stylesheet" href="/assets/bootstrap.css">
<link rel="stylesheet" href="/assets/style.css" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SocialNetwork</a>
          </div>
          <div>
            <ul class="nav navbar-nav">
                <li  ><a id="Home" href="/">Home</a></li>                              
            </ul>
        </div>
        </div>
      </nav>